<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>

    <application
        android:theme="@style/Theme.DriveCam"
        android:label="@string/app_name"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".SecurityActivity"
            android:exported="false"
            android:enableOnBackInvokedCallback="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:enableOnBackInvokedCallback="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".RecordingService"
            android:exported="false"
            android:foregroundServiceType="camera|microphone"/>
    </application>
</manifest>